[submodule "melp"]
	path = melp
	url = https://github.com/PacktPublishing/Mastering-Embedded-Linux-Programming-Third-Edition.git
[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng.git
[submodule "u-boot"]
	path = u-boot
	url = https://source.denx.de/u-boot/u-boot.git
[submodule "linux-stable"]
	path = linux-stable
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
[submodule "rpi-linux"]
	path = rpi-linux
	url = https://github.com/raspberrypi/linux.git
[submodule "rpi-firmware"]
	path = rpi-firmware
	url = https://github.com/raspberrypi/firmware.git
	shallow = true
[submodule "busybox"]
	path = busybox
	url = git://busybox.net/busybox.git
